
.main{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  h1{
    text-align: center;
  }
  
  .movies{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 23rem), 1fr));
    grid-template-rows: auto;
    gap: 20px;
    justify-content: center;
    width: 100%;
  }
  